* {
  font-family: "Archivo", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0px;
  padding: 4rem 16rem;
}

@media only screen and (max-width: 992px) {
  body {
    padding: 4rem 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 32px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    margin: 0px;
    padding: 0rem;
    height: 100vh;
  }

  #root {
    height: 100vh;
  }
  .navbar {
    margin-top: 0;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  opacity: 55%;
  padding: 12px;
  align-items: center;
}
.profile-image {
  padding: 1rem;
}
.info {
  display: flex;
}
.info div {
  padding: 1rem;
}
.footer {
  display: flex;
}
.footer img {
  height: 20px;
  width: 20px;
  margin: 16px;
}

.container {
  padding: 4rem;
}

@media only screen and (max-width: 480px) {
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(244, 244, 244);
  }
  .container {
    padding: 28px;
  }
}
.title {
  letter-spacing: 10px;
  font-size: xx-large;
  font-weight: 400;
}
#github {
  margin-left: 0px;
}
.more-about {
  font-size: small;
  padding: 25px 0 5px 0;
}
.moving-arrow {
  margin-left: 30px;
  position: relative;
  transition: left 0.5s ease-in-out;
  opacity: 80%;
  align-items: center;
  display: flex;
  align-items: center;
}
.about-me-section {
  display: flex;
  align-items: center;
  opacity: 75%;
}

.summary {
  opacity: 80%;
  font-size: smaller;
  margin: 25px 0 5px 0;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-right: 16px;
}

.line {
  height: 5px;
  width: 25px;
  margin: 2px 0px;
  transition: 0.4s;
  padding: 0px;
  background-color: black;
  border-radius: 10px;
  opacity: 75%;
}

.hamburger:hover {
}

.contact-me {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.contact-me input {
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .contact-me {
    width: 100%;
  }
}

.message {
  height: 150px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  resize: none;
}

.send-message {
  background-color: black;
  color: white;
  padding: 15px;
  margin-top: 15px;
  width: 170px;
  border: 1px solid black;
  border-radius: 6px;
  letter-spacing: 16px;
  text-indent: 8px;
}

.send-message:hover {
  opacity: 75%;
}
