* {
  font-family: "Archivo", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0px;
  padding: 4rem 16rem;
  /* overflow: hidden; */
}

@media only screen and (max-width: 992px) {
  body {
    padding: 4rem 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 32px;
  }
  .navbar {
    display: flex;
    flex-direction: row-reverse;
  }
  .hamburger {
    padding-top: 16px;
  }
  .cross {
    position: absolute;
    top: 0;
    right: 0px;
  }
  .min-navbar {
    /* padding: 20px; */
    margin: 0px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    margin: 0px;
    padding: 0rem;
    height: 100vh;
  }

  #root {
    height: 100vh;
  }
  .navbar {
    margin-top: 0;
    padding-top: 16px;
  }
  .more-about {
    margin-bottom: 40px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  opacity: 55%;
  padding: 12px;
  align-items: center;
}
.profile-image {
  padding: 1rem;
}
.info {
  display: flex;
}
.info div {
  padding: 1rem;
}
.footer {
  display: flex;
}
.footer img {
  height: 20px;
  width: 20px;
  margin: 16px;
}

.container {
  padding: 4rem;
}

@media only screen and (max-width: 480px) {
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(244, 244, 244);
  }
  .container {
    padding: 28px;
  }
}

.title {
  letter-spacing: 10px;
  font-size: xx-large;
  font-weight: 400;
}
#github {
  margin-left: 0px;
}
.more-about {
  font-size: small;
  padding: 0px 0 5px 0;
}
.moving-arrow {
  margin-left: 15px;
  position: relative;
  transition: left 0.5s ease-in-out;
  opacity: 80%;
  align-items: center;
  display: flex;
  align-items: center;
}
.about-me-section {
  display: flex;
  align-items: center;
  opacity: 75%;
}

.summary {
  opacity: 80%;
  font-size: smaller;
  margin: 25px 0 25px 0;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-right: 16px;
}

.line {
  height: 5px;
  width: 25px;
  margin: 2px 0px;
  transition: 0.4s;
  padding: 0px;
  background-color: black;
  border-radius: 10px;
  opacity: 75%;
}

.hamburger:hover {
}

.contact-me {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.contact-me input {
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .contact-me {
    width: 100%;
  }
}

.message {
  height: 150px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  resize: none;
}

.send-message {
  background-color: black;
  color: white;
  padding: 15px;
  margin-top: 15px;
  width: 125px;
  border: 1px solid black;
  border-radius: 6px;
  letter-spacing: 16px;
  text-indent: 8px;
  margin-bottom: 25px;
}

.send-message:hover {
  opacity: 75%;
}

.send-message:active {
  background-color: white;
  color: black;
}

.reference {
  color: blueviolet;
}

.list-items {
  font-size: large;
  letter-spacing: 2px;
  margin-top: 25px;
}

.sub-summary {
  opacity: 80%;
  font-size: smaller;
  margin: 12px 0 12px 0;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.sub-heading {
  font-size: large;
  letter-spacing: 2px;
  margin-top: 25px;
}

.min-navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 120;
}
.min-navbar div {
  color: white;
  margin: 10px;
  letter-spacing: 2px;
  font-size: large;
}

.mini-nav {
  margin: 25px;
}
.mini-nav div {
  letter-spacing: 5px;
  font-size: large;
}

ul {
  list-style: circle;
}

.cross {
  height: 30px;
  width: 30px;
  right: 5px;
  top: 5px;
  overflow: hidden;
}

.cross img {
  height: 30px;
  width: 30px;
}

.no-scroll {
  overflow: hidden;
  background-color: grey;
}

.error {
  color: palevioletred;
  font-size: smaller;
}

.status {
  color:rgb(173, 254, 80);
  font-size: smaller;
}